{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>rustyfork</title>
    <link rel="stylesheet" href="{% static "vendors/pico/pico.min.css" %}">
    <script defer src="{% static "vendors/htmx/htmx.min.js" %}"></script>
    {% django_htmx_script %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}">
            <img src="{% static "img/logo.png" %}" alt="Logo" width="40px" height="40px">
            Rusty Fork
          </a>
        </li>
      </ul>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Book</a></li>
      </ul>
    </nav>

  <main>
    {% block content %}{% endblock content %}
  </main>

  <footer>
    <p>© 2023 Rusty Fork. All rights reserved.</p>
  </footer>
</body>
</html>
